[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numba="*"
numpy="*"
Pillow="*"
pipenv="*"
pygame="*"
pyglet="*"
PyOpenGL="*"
PyOpenGL-accelerate="*"
pywebview="*"

[requires]
python_version = "3.7"
